*~
.sw?
.*.sw?
*.beam
erl_crash.dump
/build/
/cover/
/dist/
/ebin/
/tmp/

/Local.props
/local.dist$
rabbit.snk
/rabbit-mock.snk

/Backup/

/scratch
/release/
/commit/
/diff/
/src/wcf/RabbitMQ.ServiceModel/RabbitMQ.ServiceModel.xml
/src/wcf/RabbitMQ.ServiceModel/AssemblyInfo.cs

/docs/pyle.{log,pid}
/docs/pyle2*/*.pyc
/docs/api-guide.pdf

/wix/dotnet-client-merge-module.wxs
/wix/dotnet-client-product.wxs
/wix/License.rtf

/projects/*/{build,obj}/
/*.suo
/RabbitMQDotNetClient.sln.proj
/RabbitMQDotNetClient.sln.cache
/UpgradeLog.XML
/_UpgradeReport_Files/
/gensrc/
/projects/*/*.csproj.user
TestResult.xml

[Rr]e[Ss]harper
*.user
*.orig
