version: "5.1.0.{build}"

platform: Any CPU
configuration: Release
skip_tags: true
image: Visual Studio 2017

environment:
  BUILDWINRT: true
  USINGMONO: false
  SNKSECRET:
    secure: C8FL0UTKVN8YcMW1wdssabbkSWMIrpJTqgUNeI2NfQw=

cache:
  # Note: this must match the $rabbitmq_installer_path and $erlang_installer_path values in
  # tools\appveyor\install.ps1
  - "%HOMEDRIVE%%HOMEPATH%\\rabbitmq-server-3.8.2.exe"
  - "%HOMEDRIVE%%HOMEPATH%\\otp_win64_22.2.exe"

install:
  - IF DEFINED SNKSECRET (nuget install secure-file -ExcludeVersion)
  - IF DEFINED SNKSECRET (secure-file\tools\secure-file -decrypt %APPVEYOR_BUILD_FOLDER%\rabbit.snk.enc -secret %SNKSECRET%) ELSE (ECHO This Is A Pull Request Build)
  - IF NOT DEFINED SNKSECRET (copy "rabbit.snk.prbuilds" "rabbit.snk") ELSE (ECHO Using The Release Key File)
  - ps: .\tools\appveyor\install.ps1

build_script: 
  - cmd: .\build.bat

test_script:
  - cmd: .\run-test.bat

nuget:
  disable_publish_on_pr: true

branches:
    only:
      - master
      - stable
