<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="3.5" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <PropTargetFramework>v3.5</PropTargetFramework>
    <PropAssemblyVersion>0.0.0.0</PropAssemblyVersion>
    <PropUsingMono>false</PropUsingMono>
    
    <!-- Assembly strong naming - $(MSBuildProjectDirectory) is the RabbitMQ.Client project directory -->
    <!-- <PropKeyfile>$(MSBuildProjectDirectory)\rabbit.snk</PropKeyfile> -->
    
    <!-- Program to prepend to commands when launching .exe files (note the trailing space) -->
    <!-- (do not worry about this under Windows, just set PropUsingMono to false) -->
    <PropLaunchExe Condition="'$(PropUsingMono)' == 'true'">mono --debug </PropLaunchExe>

    <!-- WCF component only for Windows, .NET 3.5 or higher -->
    <PropBuildWcf Condition="'$(PropUsingMono)' != 'true'">true</PropBuildWcf>

    <!-- Uncomment to run a single test case with /t:RunSingleUnitTest -->
    <!-- <PropTestToRun>RabbitMQ.Client.Unit.TestConnectionRecovery</PropTestToRun> -->
  </PropertyGroup>
</Project>

