<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="RabbitMQ.Client.Examples.WinRT.Subscriber" Publisher="CN=RabbitMQ" Version="1.0.0.0" />
  <Properties>
    <DisplayName>RabbitMQ.Client.Examples.WinRT.Subscriber</DisplayName>
    <PublisherDisplayName>RabbitMQ Example</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="RabbitMQ.Client.Examples.WinRT.Subscriber.App">
      <VisualElements DisplayName="RabbitMQ.Client.Examples.WinRT.Subscriber" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="RabbitMQ.Client.Examples.WinRT.Subscriber" ForegroundText="dark" BackgroundColor="#FFFFFF">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#FFFFFF" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>