<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    
    <client>
      <endpoint address="soap.amqp:///Hello" 
                binding="rabbitMQBinding"
                bindingConfiguration="rabbitMQConfig" 
                contract="RabbitMQ.ServiceModel.Examples.ConfigDemo.WcfServiceLibrary1.IHelloContract"
                name="Service1OverRabbit" />
    </client>
    
    <bindings>
      <rabbitMQBinding>
        <binding name="rabbitMQConfig" 
		 protocolversion="AMQP_0_9_1"
                 hostname="localhost"
                 port="5672" />
      </rabbitMQBinding>
    </bindings>
    
    <extensions>
      <bindingExtensions>
        <add
          name="rabbitMQBinding"
          type="RabbitMQ.ServiceModel.RabbitMQBindingSection, RabbitMQ.ServiceModel, Version=1.0.110.0, Culture=neutral, PublicKeyToken=null"/>
      </bindingExtensions>
    </extensions>
    
  </system.serviceModel>
</configuration>
