<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    
    <services>
      <service name="WcfServiceLibrary1.HelloService">
        <host>
          <baseAddresses>
            <add baseAddress="soap.amqp:///"   />
          </baseAddresses>
        </host>
        <endpoint
          address="Hello"
          binding="rabbitMQBinding"
          bindingConfiguration="rabbitMQConfig"
          contract="WcfServiceLibrary1.IHelloContract"/>
      </service>
    </services>
    
    <bindings>
      <rabbitMQBinding>
        <binding name="rabbitMQConfig"
		 broker="amqp://dev.rabbitmq.com:5672/"
		 protocolversion="AMQP_0_8"
          	 oneWay="false"/>
      </rabbitMQBinding>
    </bindings>
    
    <extensions>
      <bindingExtensions>
        <add
          name="rabbitMQBinding"
          type="RabbitMQ.ServiceModel.RabbitMQBindingSection, RabbitMQ.ServiceModel, Version=1.0.110.0, Culture=neutral, PublicKeyToken=null"/>
      </bindingExtensions>
    </extensions>
    
  </system.serviceModel>
</configuration>
