<?xml version="1.0" encoding="utf-8" ?><!-- -*- nxml -*- -->
<configuration>
  <system.serviceModel>

    <services>
      <service name="RabbitMQ.ServiceModel.Demo.Service.Service1">
        <host>
          <baseAddresses>
            <add baseAddress = "soap.amqp:///" />
            <add baseAddress = "http://localhost:8080/" />
          </baseAddresses>
        </host>
        <endpoint
          address="Service1"
          binding="rabbitMQBinding"
          bindingConfiguration="rabbitMQConfig"
          contract="RabbitMQ.ServiceModel.Demo.Service.IService1"/>
        <endpoint
          address="Service1"
          binding="basicHttpBinding"
          contract="RabbitMQ.ServiceModel.Demo.Service.IService1"/>
      </service>
    </services>
    
    <client>
      <endpoint
        address="soap.amqp:///ConfigTest" 
        binding="rabbitMQBinding" 
        bindingConfiguration="rabbitMQConfig" 
        contract="RabbitMQ.ServiceModel.Demo.Service.IService1" 
        name="Service1OverRabbit" />
    </client>
    
    <extensions>
      <bindingExtensions>
        <add 
          name="rabbitMQBinding" 
          type="RabbitMQ.ServiceModel.RabbitMQBindingSection, RabbitMQ.ServiceModel, Version=1.0.110.0, Culture=neutral, PublicKeyToken=null"/>
      </bindingExtensions>
    </extensions>
    
    <bindings>
      <rabbitMQBinding>
        <binding 
          name="rabbitMQConfig"
          hostname="localhost"
          port="5672"
          protocolversion="AMQP_0_9_1" />
      </rabbitMQBinding>
    </bindings>
  </system.serviceModel>

  <appSettings>
    <add key="manual-test-broker-hostname" value="localhost"/>
    <add key="manual-test-broker-port" value="-1"/>
    <add key="manual-test-broker-protocol" value="AMQP_0_9_1"/>
  </appSettings>
</configuration>
