<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    
    <client />
    <services>
      <service name="WcfServiceLibrary1.HelloService">
        <endpoint address="Hello" binding="rabbitMQBinding" bindingConfiguration="rabbitMQConfig"
          contract="WcfServiceLibrary1.IHelloContract" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          name="mexEndpoint" contract="WcfServiceLibrary1.IHelloContract" />
        <host>
          <baseAddresses>
            <add baseAddress="soap.amq:///" />
            <add baseAddress="http://localhost:8080" />
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <bindings>
      <rabbitMQBinding>
        <binding name="rabbitMQConfig" broker="amq://localhost:5672/"
          oneWay="true" version="AMQP_0_9_1" />
      </rabbitMQBinding>
    </bindings>
    
    <extensions>
      <bindingExtensions>
        <add
          name="rabbitMQBinding"
          type="RabbitMQ.ServiceModel.RabbitMQBindingSection, RabbitMQ.ServiceModel, Version=1.0.110.0, Culture=neutral, PublicKeyToken=null"/>
      </bindingExtensions>
    </extensions>
    
  </system.serviceModel>
</configuration>
