<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    
    <services>
      <service name="WcfServiceLibrary1.HelloService">
        <host>
          <baseAddresses>
            <add baseAddress="soap.amqp:///"   />
          </baseAddresses>
        </host>
        <endpoint
          address="Hello"
          binding="customBinding"
          bindingConfiguration="NewBinding0"
          contract="WcfServiceLibrary1.IHelloContract"/>
      </service>
    </services>
    
    <bindings>
      <customBinding>
        <binding name="NewBinding0">
          <textMessageEncoding />
          <rabbitMQTransport
              broker="amqp://dev.rabbitmq.com:5672/"
              protocolversion="AMQP_0_8" />
        </binding>
      </customBinding>
    </bindings>
    
    <extensions>
      <bindingElementExtensions>
        <add
          name="rabbitMQTransport"
          type="RabbitMQ.ServiceModel.RabbitMQTransportElement, RabbitMQ.ServiceModel"/>
      </bindingElementExtensions>
    </extensions>
    
  </system.serviceModel>
</configuration>
