name: build/test rabbitmq-dotnet-client

on:
  - workflow_call

jobs:
  build-win32:
    name: build/test on windows-latest
    runs-on: windows-latest
    # https://github.com/NuGet/Home/issues/11548
    env:
      NUGET_CERT_REVOCATION_MODE: offline
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Cache installers
        uses: actions/cache@v3
        with:
          # Note: the cache path is relative to the workspace directory
          # https://docs.github.com/en/actions/using-workflows/caching-dependencies-to-speed-up-workflows#using-the-cache-action
          path: ~/installers
          key: ${{ runner.os }}-v0-${{ hashFiles('.ci/versions.json') }}
      - name: Cache NuGet packages
        uses: actions/cache@v3
        with:
          path: |
            ~/.nuget/packages
            ~/AppData/Local/NuGet/v3-cache
          key: ${{ runner.os }}-v1-nuget-${{ hashFiles('**/*.csproj') }}
          restore-keys: |
            ${{ runner.os }}-v1-nuget-
      - name: Install and Start RabbitMQ
        run: .\.ci\windows\gha-setup.ps1
      - name: List NuGet sources
        run: dotnet nuget locals all --list
      - name: Build
        run: dotnet build ${{ github.workspace }}\Build.csproj
      - name: Verify
        run: dotnet format ${{ github.workspace }}\RabbitMQDotNetClient.sln --verify-no-changes --verbosity=diagnostic
      - name: Test
        run: .\.ci\windows\gha-run-tests.ps1
      - name: Maybe upload RabbitMQ logs
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: rabbitmq-logs
          path: ~/AppData/Roaming/RabbitMQ/log/
  build:
    name: build/test on ubuntu-latest
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.x
      - name: Cache NuGet packages
        uses: actions/cache@v3
        with:
          path: |
            ~/.nuget/packages
            ~/.local/share/NuGet/v3-cache
          key: ${{ runner.os }}-v1-nuget-${{ hashFiles('**/*.csproj') }}
          restore-keys: |
            ${{ runner.os }}-v1-nuget-
      - name: Start RabbitMQ
        id: start-rabbitmq
        run: ${{ github.workspace }}/.ci/ubuntu/gha-setup.sh
      - name: List NuGet sources
        run: dotnet nuget locals all --list
      - name: Build
        run: dotnet build ${{ github.workspace }}/Build.csproj
      - name: Verify
        run: dotnet format ${{ github.workspace }}/RabbitMQDotNetClient.sln --verify-no-changes --verbosity=diagnostic
      - name: Test
        run: |
            dotnet test \
                --environment RABBITMQ_RABBITMQCTL_PATH=DOCKER:${{ steps.start-rabbitmq.outputs.id }} \
                --environment PASSWORD=grapefruit \
                --environment SSL_CERTS_DIR="${{ github.workspace }}/.ci/certs" \
                "${{ github.workspace }}/projects/Unit/Unit.csproj" --no-restore --no-build --logger 'console;verbosity=detailed' --framework 'net6.0'
      - name: Maybe upload RabbitMQ logs
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: rabbitmq-logs
          path: ${{ github.workspace }}/.ci/ubuntu/log/
